{% extends "layout.html" %}

{%block content%}
<div class="container" style="margin-top:50px;">
    <div><a href="#" class="fs-1">{{board.name}}</a></div>
    <hr>
    <div class="card">
        <div class="card-header">
            {{article.subject}}
        </div>
        <div class="card-body text-center">
            <p class="card-text" style="text-align:left;">{{article.content}}</p>
            <a href="#" class="btn btn-primary"><i class="far fa-thumbs-up"></i> {{article.votes}}</a>
        </div>
        <div class="card-footer text-muted">
            {{article.reg_date}}
        </div>
    </div>
    <div style="margin-top:30px;">전체 댓글 {{article.how_many_comment}}개</div>
    <div class="border-top border-bottom">
        <form method="post" class="post-form my-3" action="{% url 'board:comment_write' board.id article.id%}">
            <div class="form-group" style="margin-top:0px;">
                <label for="content"></label>
                <textarea class="form-control" name="content"
                          id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>
</div>

{% endblock%}
